<p id="notice"><%= notice %></p>

<h1>Publico Clientes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descricao</th>
      <th>Aniversario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publico_clientes.each do |publico_cliente| %>
      <tr>
        <td><%= publico_cliente.nome %></td>
        <td><%= publico_cliente.descricao %></td>
        <td><%= publico_cliente.aniversario %></td>
        <td><%= link_to 'Show', publico_cliente %></td>
        <td><%= link_to 'Edit', edit_publico_cliente_path(publico_cliente) %></td>
        <td><%= link_to 'Destroy', publico_cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Publico Cliente', new_publico_cliente_path %>
